html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

a{
    text-decoration: none;
}

ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header_inner {
    position: relative;
    width: 1200px;
    height : 173px;
    margin : 0 auto;
}

.headerStomach{
    width: 100%;
}


.headerLogo {
    width : 15%;
    margin-left : -40px;
    display: inline;
} 

div.headerStomach > div.headerLogo > a > img {
    width: 240px;
    height : 113px;
}

.header_search{
    width: 553px;
    height : 48px;
    position : relative;
    display : inline-block;
    margin-top: 40px;
    margin-left: -5px;
    border-radius: 24px;
    border: 2px solid #067dfd;
    box-sizing: border-box;
    vertical-align: top;
    background-color: #fff;
}

.total_search{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    font-size: 16px;
    color: #222;
    letter-spacing: -0.5px;
    line-height: 29px;
    background-color: transparent;
    border-radius: 24px;
    text-indent: 16px;
    outline: 0;
}

.search_btn{
    position: absolute;
    right: 17px;
    top: 5px;
    width: 32px;
    height: 32px;
    padding: 5px;
    border: 0;
    background : white;
    cursor: pointer;
}

div.header_search > button > img {
    width: 100%;
    height: 100%;
}

.header_coupon_back{
    position: absolute;
    width: 182px;
    height: 70px;
    display : inline-block;
    top : 29px;
    right : 225px;
}

.my_tools{
    position: absolute;
    right: -14px;
    top: 24px;
}

.tools_ul{
    width : 100%;
}

.tools_li{
    width : 100%;
    list-style: none;
    display: inline;
    margin-right : 33px;
}

.header_under {
    width : 100%;
    position: relative;
    float : left;
}

.cate_btn{
    cursor : pointer;
    position: relative;
    display: block;
    width: 224px;
    height: 60px;
    padding: 17px 0 20px;
    line-height: 21px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    letter-spacing: -1px;
    text-align: left;
    background-color: #10af29;
    box-sizing: border-box;
    border : none;

}

.cate_btn::before  {
    content:'';
    width: 26px;
    height: 21px;
    margin: -4px 11px 0 23px;
    vertical-align: middle;
    display: inline-block;
    background: url(https://pics.gmarket.co.kr/pc/sprite/kr/common/sprite__common.png) no-repeat;
    background-position: -252px -40px;
    background-size: 400px auto;
    text-indent: -9999px;
}

.cate_back{
    left: 0;
    top: 173px;
    right: 0;
    height: 400px;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%), inset 0 1px 0 0 #eeeeee;
    background-color: #fff;
}

.cate_inner{
    position: relative;
    height: 400px;
}

.cate_ul{
    position: relative;
    width : 224px;
    padding: 0;
    margin : 0;
}

.cate_li{
    margin : 0;
    padding : 0;
    list-style : none;
    
}

.cate_detail {
    position: relative;
    display: block;
    height: 44.5px;
    font-size: 15px;
    letter-spacing: -1px;
    color: #fff;
    background-color: #0abb26;
    text-indent: 24px;
    line-height: 42px;
    cursor: pointer;
}

.cate_content{
    position: absolute;
    left: 224px;
    top: 0;
    width: 976px;
    height: 400px;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    background-color: #fff;
    box-sizing: border-box;
    display: none;
}

.cate_contentDiv2{
    float: left;
    width: 192px;
    height: 332px;
    display : block;
}

.content_title{
    display: block;
    padding: 22px 0 0 35px;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    color: #222;
    letter-spacing: -1px;
}

.cate_content_ul{
    padding: 5px 0 0 35px;
}

.cate_content_li{
    margin : 0;
    padding : 0;
    list-style : none;
}

.cate_content_a {
    font-size: 14px;
    line-height: 29px;
    letter-spacing: -1px;
    color: #777;
}

.cate_img_div{
    position: absolute;
    right: 0;
    top: 0;
    width: 398px;
    height: 332px;
    border-left: 1px solid #eee;
    box-sizing: border-box;
}

.cate_img3{
    position: relative;
    margin-top: 17px;
}

div.cate_img_div > a > div.cate_img3 > img {
    opacity: 1;
    transition: opacity 0.2s;
    vertical-align: top;
    width : 100%
}

.cate_content_img_a {
    display: block;
    height: 332px;
    padding: 30px 35px 0 35px;
    box-sizing: border-box;
}

.cate_img_sub_title{
    font-family: Gmarket Sans !important;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: -1px;
    color: #222;
    font-weight : bolder
}

.cate_img_sub_content{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -1px;
    color: #777;
    margin-top : 0;
}

.cate_img_div2{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 975px;
    height: 68px;
    padding: 17px 0 0 35px;
    background-color: #f8f8f8;
    border-top: 1px solid #eee;
    box-sizing: border-box;
}

.content_img_title{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    color: #222;
    letter-spacing: -1px;
}

.header_content_ul{
    display: inline-block;
    padding-left : 0;
}

.header_content_a{
    font-size: 14px;
    line-height: 29px;
    color: #067dfd;
    letter-spacing: -1px;
}