<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인화면</title>
</head>
<body>
    <Header>
        <div class="header_inner">
            <div class="headerStomach">
                <div class="headerLogo">
                    <a href="/" class="logo_a">
                        <img src="https://pics.gmarket.co.kr/pc/single/kr/common/image__logo.png" alt="">
                    </a>
                </div>
                <div class="header_search">
                    <input type="text" class="total_search" >
                    <button class="search_btn">
                        <img class="search_btn_imeage" src="https://pics.gmarket.co.kr/pc/single/kr/common/image__header-search.png">
                    </button>
                </div>
                <div class="header_coupon_back">
                    <a href="/" class="coupon_a">
                        <img class="coupon_img" src="https://ad-img.ebaykorea.com/ADS/Contents_/2021_11_24_11_07_20/f9d38d4e35224179.JPG">
                    </a>
                </div>
                <div class="my_tools">
                    <ul class="tools_ul">
                        <li class="tools_li">
                            <a class="tool_li_a" href="/" >
                                <img src="https://pics.gmarket.co.kr/pc/single/kr/common/image__header-mypage.svg" alt="" class="tool_li_img">
                            </a>
                        </li>
                        <li class="tools_li">
                            <a class="tool_li_a" href="/" >
                                <img src="https://pics.gmarket.co.kr/pc/single/kr/common/image__header-recent.svg" alt="" class="tool_li_img">
                            </a>
                        </li>
                        <li class="tools_li">
                            <a class="tool_li_a" href="/" >
                                <img src="https://pics.gmarket.co.kr/pc/single/kr/common/image__header-cart.svg" alt="" class="tool_li_img">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header_under">
                <button>
                    전체 카태고리
                </button>
                <div class="cate_back">
                    <div class="cate_inner">
                        <ul class="cate_ul">
                            <li class="cate_li">
                                <div>
                                    <a class="cate_detail" href="/">
                                        브랜드패션
                                    </a>
                                    <div class="cate_content">
                                        <div class="cate_contentDiv2">
                                            <span class="content_title">
                                                브랜드의류
                                            </span>
                                            <ul class="cate_content_ul">
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        브랜드 여성의류
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        브랜드 남성의류
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        브랜드 진/캐쥬얼
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cate_contentDiv2" style="border-left: 1px solid #eee;">
                                            <span class="content_title">
                                                브랜드잡화
                                            </span>
                                            <ul class="cate_content_ul">
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        브랜드 신발/가방
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        브랜드 쥬얼리/시계
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        수입명품
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cate_contentDiv2">
                                            <span class="content_title">
                                                스포츠브랜드
                                            </span>
                                            <ul class="cate_content_ul">
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        브랜드 아웃도어
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        브랜드 스포츠패션
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cate_img_div">
                                            <a class="cate_content_a">
                                                <div class="cate_img3" style="margin-top: 0;">
                                                    <img src="https://image.gmarket.co.kr/hanbando/202112/8fcd6039-ad7a-4796-84fd-b94189535d46.jpg"/>
                                                </div>
                                                <div class="cate_img3">
                                                    <span class="cate_img_sub_title">
                                                        브랜드 패션 쿠폰북
                                                    </span>
                                                    <p class="cate_img_sub_content">
                                                        매주 업데이트 되는 쿠폰북
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="cate_img_div2">    
                                            <span class="content_img_title">
                                                바로가기
                                            </span>
                                            <ul>
                                                <li style="display: inline-block; margin-left: 60px;">
                                                    <a href="/">
                                                        롯데백화점
                                                    </a>
                                                </li>
                                                <li style="display: inline-block; margin-left: 60px;">
                                                    <a href="/">
                                                        신세계백화점
                                                    </a>
                                                </li>
                                                <li style="display: inline-block; margin-left: 60px;">
                                                    <a href="/">
                                                        현대백화점
                                                    </a>
                                                </li>
                                                <li style="display: inline-block; margin-left: 60px;">
                                                    <a href="/">
                                                        갤러리아백화점
                                                    </a>
                                                </li>
                                                <li style="display: inline-block; margin-left: 60px;">
                                                    <a href="/">
                                                        대구백화점
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cate_li">
                                <div>
                                    <a class="cate_detail" href="/">
                                        패션의류 · 잡화 · 뷰티
                                    </a>
                                    <div class="cate_content">
                                        <div class="cate_contentDiv2" style="border-left: 1px solid #eee;">
                                            <span class="content_title">
                                                패션의류
                                            </span>
                                            <ul class="cate_content_ul">
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        여성의류
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        남성의류
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        언더웨어
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        유아동의류
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cate_contentDiv2" style="border-left: 1px solid #eee;">
                                            <span class="content_title">
                                                잡화
                                            </span>
                                            <ul class="cate_content_ul">
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        신발
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        가방/잡화
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        쥬얼리/시계
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        수입명품
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cate_contentDiv2" style="border-left: 1px solid #eee;">
                                            <span class="content_title">
                                                뷰티
                                            </span>
                                            <ul class="cate_content_ul">
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        화장품/향수
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        바디/헤어
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cate_img_div">
                                            <a class="cate_content_a">
                                                <div class="cate_img3" style="margin-top: 0;" >
                                                    <img src="https://image.gmarket.co.kr/hanbando/202112/d4e695d8-f451-45ea-ba12-8408aa5bfa77.jpg"/>
                                                </div>
                                                <div class="cate_img3">
                                                    <span class="cate_img_sub_title">
                                                        패션 잡화 쿠폰북
                                                    </span>
                                                    <p class="cate_img_sub_content">
                                                        매주 업데이트 되는 쿠폰북
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="cate_img_div2">
                                            <span class="content_img_title">
                                                바로가기
                                            </span>
                                            <ul>
                                                <li style="display: inline-block; margin-left: 60px;">
                                                    <a href="/">
                                                        해외직구
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cate_li">
                                <div>
                                    <a class="cate_detail" href="/">
                                        유아동
                                    </a>
                                    <div class="cate_content">
                                        <div class="cate_contentDiv2" style="border-left: 1px solid #eee;">
                                            <span class="content_title">
                                                유아동
                                            </span>
                                            <ul class="cate_content_ul">
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        출산/육아
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        장난감/완구
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        유아동 의류
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        유아동 신발/잡화
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cate_contentDiv2" style="border-left: 1px solid #eee;">
                                            <span class="content_title">
                                                
                                            </span>
                                            <ul class="cate_content_ul">
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cate_contentDiv2" style="border-left: 1px solid #eee;">
                                            <span class="content_title">
                                                
                                            </span>
                                            <ul class="cate_content_ul">
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                    
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cate_img_div">
                                            <a class="cate_content_a">
                                                <div class="cate_img3" style="margin-top: 0;" >
                                                    <img src="https://image.gmarket.co.kr/hanbando/202112/331c270e-95b6-46ca-9d81-094980109b5e.jpg"/>
                                                </div>
                                                <div class="cate_img3">
                                                    <span class="cate_img_sub_title">
                                                        크리스마스 선물대전
                                                    </span>
                                                    <p class="cate_img_sub_content">
                                                        매일 12%할인 X 3장 혜택
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="cate_img_div2">
                                            <span class="content_img_title">
                                                바로가기
                                            </span>
                                            <ul>
                                                <li style="display: inline-block; margin-left: 60px;">
                                                    <a href="/">
                                                        당일배송
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cate_li">
                                <div>
                                    <a class="cate_detail" href="/">
                                        식품 · 생필품
                                    </a>
                                    <div class="cate_content">
                                        <div class="cate_contentDiv2" style="border-left: 1px solid #eee;">
                                            <span class="content_title">
                                                식품
                                            </span>
                                            <ul class="cate_content_ul">
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        신선식품
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        가공식품
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        건강식품
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        커피/음료
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cate_contentDiv2" style="border-left: 1px solid #eee;">
                                            <span class="content_title">
                                                생필품
                                            </span>
                                            <ul class="cate_content_ul">
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        생필품
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        바디/헤어
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cate_contentDiv2" style="border-left: 1px solid #eee;">
                                            <span class="content_title">
                                                
                                            </span>
                                            <ul class="cate_content_ul">
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                       
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cate_img_div">
                                            <a class="cate_content_a">
                                                <div class="cate_img3" style="margin-top: 0;" >
                                                    <img src="https://image.gmarket.co.kr/hanbando/202109/f32d9cfd-a31b-43d8-8b36-cab5ce59284a.jpg"/>
                                                </div>
                                                <div class="cate_img3">
                                                    <span class="cate_img_sub_title">
                                                        GFresh
                                                    </span>
                                                    <p class="cate_img_sub_content">
                                                        평일 18시 이전 주문상품건 당일출고 
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="cate_img_div2">
                                            <span class="content_img_title">
                                                바로가기
                                            </span>
                                            <ul>
                                                <li style="display: inline-block; margin-left: 60px;">
                                                    <a href="/">
                                                        스마일배송
                                                    </a>
                                                </li>
                                                <li style="display: inline-block; margin-left: 60px;">
                                                    <a href="/">
                                                        당일배송 장보기
                                                    </a>
                                                </li>
                                                <li style="display: inline-block; margin-left: 60px;">
                                                    <a href="/">
                                                        프리미엄지역관
                                                    </a>
                                                </li>
                                                <li style="display: inline-block; margin-left: 60px;">
                                                    <a href="/">
                                                        G마켓 쌀 상회
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cate_li">
                                <div>
                                    <a class="cate_detail" href="/">
                                        홈데코 · 문구 · 취미 · 반려
                                    </a>
                                    <div class="cate_content">
                                        <div class="cate_contentDiv2" style="border-left: 1px solid #eee;">
                                            <span class="content_title">
                                                홈데코
                                            </span>
                                            <ul class="cate_content_ul">
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        가구/DIY
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        침구/커튼
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        조명/인테리어
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        꽃/이벤트용품
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cate_contentDiv2" style="border-left: 1px solid #eee;">
                                            <span class="content_title">
                                                문구
                                            </span>
                                            <ul class="cate_content_ul">
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        문구/사무용품
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        사무기기
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cate_contentDiv2" style="border-left: 1px solid #eee;">
                                            <span class="content_title">
                                                취미/반려
                                            </span>
                                            <ul class="cate_content_ul">
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        악기/취미
                                                    </a>
                                                </li>
                                                <li class="cate_content_li">
                                                    <a href="/" class="cate_content_a">
                                                        반려동물용품
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cate_img_div">
                                            <a class="cate_content_a">
                                                <div class="cate_img3" style="margin-top: 0;" >
                                                    <img src="https://image.gmarket.co.kr/hanbando/202109/43d2615b-dcfe-42f3-8f39-3b8c2803f345.jpg"/>
                                                </div>
                                                <div class="cate_img3">
                                                    <span class="cate_img_sub_title">
                                                        감각적인 텀블러, TUMS 
                                                    </span>
                                                    <p class="cate_img_sub_content">
                                                        주방모음전
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="cate_img_div2">
                                            <span class="content_img_title">
                                                바로가기
                                            </span>
                                            <ul>
                                                <li style="display: inline-block; margin-left: 60px;">
                                                    <a href="/">
                                                        BIZ ON
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </Header>
</body>
</html>